@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Domain";
  src: url("/public/assets/DomaineDisplay.ttf");
}

@font-face {
  font-family: "TWLight";
  src: url("/public/assets/Tw\ Cen\ W01\ Light.ttf");
}
@font-face {
  font-family: "TWMedium";
  src: url("/public/assets/Tw\ Cen\ W01\ Medium.ttf");
}

/* styles.css */
html {
  overflow-y: scroll;
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
